body {
    margin: 0;
}

header {
    height: 3rem;
    display: flex;
    justify-content: flex-end;
    padding-right: 1.5rem;
    padding-top: 0.7rem;
    align-items: center;
}

.fa-bars {
    font-size: 1.5rem;
}

h1 {
    margin-bottom: -0.1rem;
    font-size: 48px;
}

.welcome-paragraph {
    font-size: 20px;
}

.welcome-text {
    display: flex;
    flex-direction: column;
}

.welcome-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35rem;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
}

.quick-links {
    width: 100%;
    margin-top: 3rem;
    justify-content: center;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4rem;
    list-style: none;
    margin: 0;
    padding: 0;
}

.link-1, .link-2, .link-3 {
    height: 4rem;
    width: 6.5rem;
    border-radius: 100rem;
    text-align: center;
    padding-top: 2.5rem;
}

.link-1 {
    background-color: #ABBFB8;
}

.link-2 {
    background-color: #E2DBE8;
}

.link-3 {
    background-color: #D6A6A6;
}

.green-background {
    margin-top: 15rem;
    height: 50rem;
    width: 30rem;
    background-color: #ABBFB8;
    position: absolute;
}

.info-card {
    height: 5rem;
    width: 5rem;
    background-color: black;
    position: absolute;
    z-index: 10;
    margin-top: 15rem;
}

