body {
    margin: 0;
}

header {
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 1.5rem;
    padding-top: 0.7rem;
    cursor: pointer;
}

.fa-bars {
    font-size: 1.5rem;
}

.hamburger-container, .mobile-nav {
    display: none;
}

/* WELCOME SECTION */
h1 {
    margin-bottom: -0.1rem;
    font-size: 48px;
}

.welcome-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 35rem;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
}

.welcome-text {
    display: flex;
    flex-direction: column;
}

.welcome-paragraph {
    font-size: 20px;
    position: relative;
}


/* Text typing animation */
span {
    animation: blinker 1.5s linear infinite;
    border: 0.5px solid black;
    margin: 0.2rem;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}


/* WELCOME SECTION */
.quick-links {
    width: 100%;
    margin-top: 3rem;
    justify-content: center;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4rem;
    list-style: none;
    margin: 0;
    padding: 0;
}

.angle-down {
    display: none;
}

.link-1, .link-2, .link-3 {
    height: 4rem;
    width: 6.5rem;
    border-radius: 100rem;
    text-align: center;
    padding-top: 2.5rem;
}

.link-1 {
    background-color: #ABBFB8;
}

.link-2 {
    background-color: #E2DBE8;
}

.link-3 {
    background-color: #D6A6A6;
}


/* ABOUT ME SECTION */

.about-me {
    height: 70rem;
    width: 100%;
    display: flex;
}

.green-background {
    margin-top: 15rem;
    height: 50rem;
    width: 30rem;
    background-color: #ABBFB8;
    position: absolute;
}

.info-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 35rem;
    width: 25rem;
    background-color: #CFD0E7;
    position: absolute;
    z-index: 10;
    margin-top: 23rem;
    margin-left: 13rem;
    box-shadow: -12px 11px 30px -5px rgba(0,0,0,0.50);;
}

.about-me-pic {
    width: 13rem;
    border-radius: 50%;
    margin-top: 2.5rem;
}

.name-text {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

.about-me-border {
    border: 1px solid #7D7687;
    width: 6rem;
    margin-bottom: -0.5rem;
    margin-top: -0.5rem;
}

.info-card-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}

.white-border {
    height: 3rem;
    width: 25rem;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.fa-github {
    font-size: 1.7rem;
    color: black;
}

.fa-linkedin-in {
    font-size: 1.7rem;
    color: black;
}

.about-me-text {
    height: 35rem;
    width: 30rem;
    /* border: 2px solid black; */
    margin-top: 23rem;
    margin-left: 43rem;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.title {
    font-family: 'Open Sans', sans-serif;
}

.about-me-para {
    font-family: 'Open Sans', sans-serif;
}



