html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

.hamburger-container, .mobile-nav {
    display: none;
}

/* Text typing animation */
span {
    animation: blinker 1.5s linear infinite;
    border: 0.01rem solid black;
    margin: 0.2rem;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

/* WELCOME SECTION */
h1 {
    margin-bottom: -0.1rem;
    font-size: 48px;
}

.welcome-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 5rem;
}

.welcome-text {
    display: flex;
    flex-direction: column;
}

.welcome-paragraph {
    font-size: 20px;
    position: relative;
}

.quick-links {
    width: 100%;
    margin-top: 3rem;
    justify-content: center;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4rem;
    list-style: none;
    margin: 0;
    padding: 0;
    
}

ul a {
    text-decoration: none;
}

.angle-down {
    display: none;
}

.link-1, .link-2, .link-3 {
    height: 4rem;
    width: 6.5rem;
    border-radius: 100rem;
    text-align: center;
    padding-top: 2.5rem;
    cursor: pointer;
    color: black;
}

.link-1 {
    background-color: #ABBFB8;
}

.link-2 {
    background-color: #E2DBE8;
}

.link-3 {
    background-color: #D6A6A6;
}

.link-1:hover {
    background-color: #799b8f;
}

.link-2:hover {
    background-color: #b8a3ca;
}

.link-3:hover {
    background-color: #ce8989;
}


/* ABOUT ME SECTION */
.about-me {
    min-height: 100%;
    width: 100%;
    margin-bottom: 20rem;
    display: flex;
}

.green-background {
    height: 48rem;
    width: 30rem;
    background-color: #ABBFB8;
    position: absolute;
}

.info-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 35rem;
    width: 25rem;
    background-color: #CFD0E7;
    position: absolute;
    z-index: 10;
    margin-top: 6.5rem;
    margin-left: 15rem;
    box-shadow: -12px 11px 30px -5px rgba(0,0,0,0.50);;
}

.img-nathalie {
    width: 13rem;
    border-radius: 50%;
    margin-top: 2.5rem;
}

.name-nathalie {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

.info-card-border {
    border: 1px solid #7D7687;
    width: 6rem;
    margin-bottom: -0.5rem;
    margin-top: -0.5rem;
}

.info-card-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}

.white-border {
    height: 3rem;
    width: 25rem;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.fa-github {
    font-size: 1.7rem;
    color: black;
}

.fa-linkedin-in {
    font-size: 1.7rem;
    color: black;
}

.fa-github:hover {
    font-size: 2rem;
}

.fa-linkedin-in:hover {
    font-size: 2rem;
}

.about-me-text {
    height: 35rem;
    width: 30rem;
    margin-top: 8rem;
    margin-left: 43rem;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.title {
    font-family: 'Open Sans', sans-serif;
}

.about-me-paragraph {
    font-family: 'Open Sans', sans-serif;
}

/* PORTFOLIO SECTION */

.portfolio {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.pink-background {
    position: absolute;
    height: 48rem;
    width: 30rem;
    background-color: #D6A6A6;
    position: absolute;
    z-index: 1;
}

.portfolio-container {
    width: 100%;
    background-color: #CFD0E7;
    z-index: 100;
    margin-right: 10rem;
    margin-left: 10rem;
    box-shadow: 10px 10px 12px -3px rgba(0,0,0,0.39);
    padding-left: 2rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
}

.portfolio-div {
    margin-left: 3rem;
    margin-right: 3rem;
    display: flex;
    justify-content: space-around;
}

.img-alien, .img-restaurang {
    box-shadow: 2px 2px 6px 3px rgba(0,0,0,0.42);
    width: 20rem;
}

.p-restaurang, .p-alien {
    width: 20rem;
    font-family: 'Open sans', sans-serif;
}
