@media (max-width: 500px) {

    header {
        padding-left: 0;
    }

    .welcome-page {
        text-align: center;
    }

    .welcome-text {
        margin-left: 1rem;
    }


    ul {
        flex-direction: column;
        gap: 1rem;
        align-items: center;
    }

}