@media (max-width: 550px) {

     /* SECTION 1 (welcome section) */

    header {
        display: flex;
        justify-content: flex-end;
        padding-right: 1rem;
        padding-top: 1rem;
        cursor: pointer;
    }

    h1 {
        font-size: 40px;
    }

    .welcome-page {
        text-align: center;
    }

    .welcome-text {
        margin-left: 1rem;
        margin-top: 8rem;
    }

    ul {
        display: none;
    }
    
    .angle-down {
        display: block;
        margin-top: 11rem;
        cursor: pointer;
    }

    a {
        text-decoration: none;
        color: black;   
    }

    a:hover {
        text-decoration: underline;
    }

    .fa-angle-down {
        font-size: 2rem;
        color: #ABBFB8;
    }

    /* Hamburger andimation and sidebar */
    .hamburger-container {
        display: block;
    }

    .hamburger {
        z-index: 100;
        width: 2rem;
        cursor: pointer;
        position: relative;
        display: block;
        appearance: none;
        background: none;
        outline: none;
        border: none;
    }

    .hamburger .bar, .hamburger:after, .hamburger:before {
        content: '';
        display: block;
        width: 100%;
        height: 0.125rem;
        background-color: black;
        margin: 0.375rem 0rem;
        transition: 0.4s;
    }

    .hamburger.is-active:before {
        transform: rotate(-45deg) translate(-0.1rem, 0.1rem);
    }

    .hamburger.is-active::after {
        transform: rotate(45deg) translate(-0.6rem, -0.6rem);
    }

    .hamburger.is-active .bar {
        opacity: 0;
    }

    .mobile-nav {
        position: fixed;
        top: 0;
        left: 100%;
        width: 100%;
        min-height: 100%;
        display: block;
        z-index: 98;
        background-color: white;
        padding-top: 7.5rem;
        transition: 0.9s;
    }

    .mobile-nav.is-active {
        left: 0;
    }

    .mobile-nav a {
        display: block;
        width: 100%;
        max-width: 12.5rem;
        margin: 0 auto 1rem;
        text-align: center;
        margin-bottom: 1rem;
        padding: 0.75rem 1rem;
        background-color: white;
        font-family: 'Open sans', sans-serif;
        font-size: 1.7rem;
        color: black;
        text-decoration: none;
    }

    .mobile-nav a.green:hover {
        background-color: #ABBFB8;
    }

    .mobile-nav a.purple:hover {
        background-color: #CFD0E7;
    }

    .mobile-nav a.pink:hover {
        background-color: #D6A6A6;
    }


    /* SECTION 2 (about me section */

    .about-me {
        margin-top: -5rem;
    }

    .green-background {
        width: 15rem;
        height: 32rem;
    }

    .info-card {
        margin-top: 18rem;
        margin-left: 4rem;
        width: 18rem;
        height: 26rem;
    }

    .white-border {
        height: 2rem;
        width: 18rem;
    }

    .about-me-pic {
        width: 10rem;
        border-radius: 50%;
        margin-top: 1.5rem;
    }

    .fa-github {
        font-size: 1.4rem;
    }
    
    .fa-linkedin-in {
        font-size: 1.4rem;
    }

    .about-me-text {
        width: 20rem;
        margin-left: 2.5rem;
        margin-top: 50rem;
    }

    .title {
        text-align: center;
    }

}