@media (max-width: 500px) {

     /* SECTION 1 */

    h1 {
        font-size: 40px;
    }

    .welcome-page {
        text-align: center;
        margin-top: 3rem;
    }

    .welcome-text {
        margin-left: 1rem;
    }

    ul {
        flex-direction: column;
        gap: 1.5rem;
        align-items: center;
    }


    /* SECTION 2 */

    .green-background {
        width: 15rem;
        height: 32rem;
    }

    .info-card {
        margin-top: 18rem;
        margin-left: 3rem;
        width: 18rem;
        height: 26rem;
    }

    .white-border {
        height: 2rem;
        width: 18rem;
    }

    .about-me-pic {
        width: 10rem;
        border-radius: 50%;
        margin-top: 1.5rem;
    }

    .fa-github {
        font-size: 1.4rem;
    }
    
    .fa-linkedin-in {
        font-size: 1.4rem;
    }

    .about-me-text {
        width: 20rem;
        margin-left: 2rem;
        margin-top: 50rem;
    }

}