@media (max-width: 820px) {

    
     /* SECTION 1 (welcome section) */
    .hamburger-container, .mobile-nav {
        display: none;
    }
  
    .angle-down {
        display: none;
    }


    /* SECTION 2 (about me section) */
    .green-background {
        width: 20rem;
        height: 42.5rem;
    }

    .info-card {
        margin-left: 8rem;
        margin-top: 6rem;
        height: 30rem;
        width: 20rem;
    }

    .white-border {
        height: 3rem;
        width: 20rem;
    }

    .about-me-text {
        width: 16rem;
        margin-left: 30rem;
        margin-top: 6rem;
        margin-right: 1rem;
    }

    .about-me-pic {
        width: 11rem;
        border-radius: 50%;
        margin-top: 2.5rem;
    }

    .info-card-text {
        font-size: 18px;
    }

    .name-text {
        font-size: 22px;
    }


    /* SECTION 3 (portfolio section) */
    .pink-background {
        width: 20rem;
        height: 65rem;
    }

    .portf-box {
        margin-right: 5rem;
        margin-left: 5rem;
        justify-content: center;
        align-items: center;
    }

    .box1-portf {
        margin-top: 0;
        margin-left: 0;
        height: 100%;
        flex-direction: column;
        align-items: center;
        align-content: space-around;
    }
}