@media (max-width: 1100px) {
  .info-card {
    width: 30%;
  }

  .about-me-text {
    margin-left: 50%;
  }

  .about-me-box {
    width: 90%;
  }

  .img-nathalie {
    width: 60%;
  }

  .portfolio-container {
    margin-right: 5rem;
    width: 80%;
  }
}

@media (max-width: 920px) {
  /* WELCOME SECTION (1) */
  .hamburger-container,
  .mobile-nav,
  .angle-down {
    display: none;
  }

  .info-card {
    margin-left: 15%;
    width: 34%;
  }

  .info-card-text {
    font-size: 18px;
  }

  .name-nathalie {
    font-size: 22px;
  }

  .competence {
    margin-bottom: 10rem;
  }

  /* PORTFOLIO SECTION (3) */
  .portfolio {
    margin-bottom: 16rem;
  }

  .pink-background {
    width: 20rem;
    height: 65rem;
  }

  .portfolio-container {
    margin-right: 5rem;
    margin-left: 5rem;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .portfolio-div {
    margin-top: 0;
    margin-left: 0;
    height: 100%;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
  }
}

@media (max-width: 880px) {
  .competence {
    margin-bottom: 11rem;
  }
}

@media (max-width: 780px) {
  /* ABOUT ME SECTION (2) */
  .info-card {
    margin-left: 10%;
    width: 39%;
  }

  .about-me-box {
    width: 100%;
  }
}
